<!DOCTYPE html>
<html>
<head>
  <title>Create New History</title>
</head>
<body>
  <div>
    <h1>Create New History</h1>
  </div>
    <form action="/history/create" method="POST">
      <label for="victory">Victory:</label>
      <input type="text" name="victory">
      <br>
      <br>
	  <label for="loss">Loss:</label>
      <input type="text" name="loss">
      <br>
      <br>
      <input type="submit" value="Create">
  </div>
</body>
</html>