<!DOCTYPE html>
<html>
<head>
  <title>Create New User</title>
</head>
<body>
  <div>
    <h1>Create New User</h1>
  </div>
    <form action="/users/create" method="post">
      <label for="username">New Username:</label>
      <input type="text" name="username">
      <br>
      <br>
	  <label for="password">New Password:</label>
      <input type="password" name="password">
      <br>
      <br>
      <input type="submit" value="Create">
  </div>
</body>
</html>